<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lyyzoo.demo.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.lyyzoo.demo.dto.User">
        <result column="ID" property="id" jdbcType="DECIMAL" />
        <result column="USERNAME" property="username" jdbcType="VARCHAR" />
        <result column="AGE" property="age" jdbcType="DECIMAL" />
    </resultMap>

    <select id="select" resultMap="BaseResultMap">
        SELECT ID, USERNAME, AGE FROM user
    </select>


</mapper>